<script src="vendor/jQuery/jquery.min.js"></script>
<script src="vendor/bootstrap/bootstrap.min.js"></script>
<script src="vendor/swiper/swiper-bundle.min.js"></script>
<script src="vendor/waypoint/jquery.waypoints.min.js"></script>
<script src="vendor/magnafic-popup/jquery.magnific-popup.min.js"></script>
<script src="vendor/tweenmax/TweenMax.min.js"></script>
<script src="js/config.js"></script>
<script src="js/script.js"></script>
<script src="js/listes.js"></script>
<script src='https://cdn.jotfor.ms/agent/embedjs/019ae7c187a67316aee4576ee68a67376d8c/embed.js'>
</script>
<script id="form-script-tag-22025767"
    src="https://daoudaabassichristian.systeme.io/public/remote/page/3622116607790065366df69140f6494645e33e59.js"></script>
</body>

</html>